.container {
  margin: 0;
  padding: 0;
  .navbar {
    .desktop-navbar {
      display: none;
    }
    .mobile-navbar {
      margin: 0 1rem;
      // padding: 0;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      .logo {
        margin: 0;
        padding: 0;
        font-size: large;
      }
      .menu-options-hamburger {
        display: block;
        position: fixed;
        right: 1rem;
        z-index: 9999;
      }
      .menu-options-hamburger.hidden {
        display: none;
        position: fixed;
        right: 1rem;
      }

      .menu-options-close {
        display: block;
        position: fixed;
        right: 1rem;
        z-index: 9999;
      }
      .menu-options-close.hidden {
        display: none;
        position: fixed;
        right: 1rem;
      }

      .menu-options.hidden {
        display: none;
        transform: translateX(100%);
      }
      .menu-options {
        display: flex;
        inset: 0 0 0 30%;
        padding: min(20vh, 2rem) 1rem;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        background: hsl(0 0% 100% /0.8);
        min-height: 100vh;
        min-width: 100%;
        backdrop-filter: blur(0.5rem);
        animation-name: in-from-right;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        scroll-behavior: smooth;

        ul {
          // margin-top: 2rem;
          li {
            padding: 1rem 0 0 0;
            list-style: none;
            a {
              margin-top: 2rem;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .content {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    .main {
      background-color: aliceblue;
      padding: 1rem 1rem;
      border-radius: 8px;
      h1 {
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
        color: rgb(134, 23, 238);
      }
      h2 {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 300;
        color: blueviolet;
      }
      .subscript {
        font-size: 0.8rem;
        font-weight: 100;
      }
      p {
        // margin: 0;
        // padding:0;
        font-size: 1rem;
        // font-weight: 300;
        color: rgb(9, 4, 14);
      }
    }
    .projects {
      margin: 0;
      margin-top: 1rem;
      background-color: aliceblue;
      padding: 1rem 1rem;
      border-radius: 8px;
      h2 {
        font-size: 1.2rem;
        font-weight: 350;
        color: rgb(0, 0, 0);
      }
      .showcase {
        background-color: white;
        padding: 1rem 1rem;
        // displayyour projects in cards make a card
      }
    }
    .aboutme {
      margin: 0;
      margin-top: 1rem;
      background-color: aliceblue;
      padding: 1rem 1rem;
      border-radius: 8px;
      .doc {
        width: auto;
        //here will be icon for pdf
        .doc-aat {
          margin: 0 auto;
          margin-top: 1rem;
          width: 1rem;
          height: 1rem;
        }
        h3 {
          font-weight: 100;
          text-align: center;
        }
      }
    }
    .contactme {
      margin: 0;
      margin-top: 1rem;
      background-color: aliceblue;
      padding: 1rem 1rem;
      border-radius: 8px;
      h2 {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        font-weight: 300;
        color: blueviolet;
      }
      h3 {
        font-weight: 300;
        font-size: 1rem;
      }
      svg {
        height: 1rem;
        width: 1rem;
        &:hover {
          transition: 0.2s ease-in;
          fill: rgb(188, 130, 211);
        }
      }
    }
  }
}
ul {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
li {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: rgb(188, 130, 211);
    transition: 0.3s ease-in;
  }
}

@media (min-width: 750px) {
  .container {
    margin: 0;
    padding: 0;
    background-color: black;
  }
}

@keyframes in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
