.container {
  margin: 0;
  padding: 0;
  .navbar {
    .desktop-navbar {
      display: none;
    }
    .mobile-navbar {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      .logo {
        margin: 0;
      }
      .menu-options-hidden {
        display: none;
      }
      .menu-options {
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
          margin-top: 2rem;
          li {
            list-style: none;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
